/* @import './base.css'; */
@import 'tailwindcss';

@theme {
  --primary: #ffdf20;
  --primary-hover: #155dfc;
  --secondary: #1c398e;
  --header-footer: #0e111b;
  --body: #f8fafc;
  --card: #151a2a;
  --bg-card: #ffffff;
  --title: white;
  --text: #9f9fa9;
  --text-light: #ffffff;
  --text-gray: #4b5563;
  --azul-black-origial: #111827;
  --header: #f8fafc;
}

.swiper-button-prev,
.swiper-button-next {
  color: white; /* muda a cor */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px; /* opcional */
}

@layer components {
  .nav-links {
    @apply relative flex items-center justify-center transition-all duration-500 text-white hover:text-(--primary) px-4 py-2 rounded-lg;
  }

  .footer-icons {
    @apply text-white w-11 h-11 rounded-full flex items-center justify-center transition-all duration-100 hover:bg-blue-500;
  }

  .icon-hover {
    @apply size-5 text-(--color-blue) fill-(--color-blue) group-hover/social:text-white group-hover/social:fill-white;
  }

  .footer-links {
    @apply text-white hover:text-blue-500 transition-all duration-500;
  }
}

#app {
  width: 100%;
  height: 100vh;
  font-weight: normal;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

/* @media (hover: hover) {
  a:hover {
    color: #ffdf20;
  }
} */
/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
